.container[b-b8neyzioft] {
}

.container form[b-b8neyzioft] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizontal-container[b-b8neyzioft] {
    display: flex;
}