button {
    width: 100%;
    font-size: 3rem;
    padding: 1rem;
}

.module {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.module .content {
    border: 3px solid rgb(156, 116, 252);
    box-shadow: rgba(124, 124, 124, 0.397) 5px 5px 5px 5px;
    background: white;
    border-radius: 0.5rem;
    padding:1rem;
    min-width: 20rem;
    min-height: fit-content;
}

.visable {
    display:flex;
}
.hidden {
    display: none;
}