@inject CurrentProblem problem

<div class="numpad">
    <button @onclick="() => numpadNumber(7)">7</button>
    <button @onclick="() => numpadNumber(8)">8</button>
    <button @onclick="() => numpadNumber(9)">9</button>
    <button @onclick="() => numpadNumber(4)">4</button>
    <button @onclick="() => numpadNumber(5)">5</button>
    <button @onclick="() => numpadNumber(6)">6</button>
    <button @onclick="() => numpadNumber(1)">1</button>
    <button @onclick="() => numpadNumber(2)">2</button>
    <button @onclick="() => numpadNumber(3)">3</button>
    <button @onclick="playOrPause" class="play-pause">
        @if (playState)
        {
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1025 1024">
                <path fill="#9c74fc"
                    d="M896.428 1024h-128q-53 0-90.5-37.5t-37.5-90.5V128q0-53 37.5-90.5t90.5-37.5h128q53 0 90.5 37.5t37.5 90.5v768q0 53-37.5 90.5t-90.5 37.5zm-640 0h-128q-53 0-90.5-37.5T.428 896V128q0-53 37.5-90.5t90.5-37.5h128q53 0 90.5 37.5t37.5 90.5v768q0 53-37.5 90.5t-90.5 37.5z" />
            </svg>
        }
        else
        {
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 898 1026">
                <path fill="#9c74fc"
                    d="m62.397 8l819 467q16 9 16 39.5t-16 37.5l-819 467q-12 8-30 5.5t-32-17.5V22q31-34 62-14z" />
            </svg>
        }
    </button>
    <button @onclick="() => numpadNumber(0)">0</button>
    <button @onclick="backspace">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
            <path fill="#9c74fc" fill-rule="evenodd"
                d="M5.442 3.5H12.5A1.5 1.5 0 0 1 14 5v6a1.5 1.5 0 0 1-1.5 1.5H5.442a1.5 1.5 0 0 1-1.171-.563L1.796 8.844a1.35 1.35 0 0 1 0-1.688l2.475-3.093A1.5 1.5 0 0 1 5.44 3.5Zm-2.343-.374A3 3 0 0 1 5.442 2H12.5a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5.442a3 3 0 0 1-2.343-1.126L.625 9.781a2.85 2.85 0 0 1 0-3.562zM7.28 5.47a.75.75 0 0 0-1.06 1.06L7.69 8L6.22 9.47a.75.75 0 1 0 1.06 1.06l1.47-1.47l1.47 1.47a.75.75 0 1 0 1.06-1.06L9.81 8l1.47-1.47a.75.75 0 0 0-1.06-1.06L8.75 6.94z"
                clip-rule="evenodd" />
        </svg>
    </button>
</div>

@code {
    private bool playState = false;
    private void numpadNumber(int num)
    {
        if (problem.numpadInput.Length < 5)
        {
            if (problem.numpadInput == "0")
            {
                problem.numpadInput = "";
            }
            problem.numpadInput = $"{problem.numpadInput}{num}";
        }
    }
    private void backspace()
    {
        problem.numpadInput = problem.numpadInput.Substring(0, problem.numpadInput.Length - 1);
        if (problem.numpadInput.Length == 0)
        {
            problem.numpadInput = "0";
        }
    }
    private void playOrPause()
    {
        playState = !playState;
    }


}