@inject CurrentProblem problem

<div class="problems-and-stats">
    <div class="horizontal-container stat-bar">
        <p>Time 5:00</p>
        <p>Correct 0</p>
    </div>
    <div class="horizontal-container">
        <img src="./public/correct/img_9855.jpg" alt="Cat with human hand showing thumbs up">
        <div class="equation">
            <p id="top-num">00</p>
            <p id="operation">×</p>
            <p id="bottom-num">00</p>
            <p id="line"></p>
            <p id="result">@problem.numpadInput</p>
        </div>
    </div>
</div>

@code {

}