@inject CurrentProblem problem
@inject QuickMathsConfig config
@inject Random random

<div class="problems-and-stats">
    <div class="horizontal-container stat-bar">
        <p>Time 5:00</p>
        <p>Correct 0</p>
    </div>
    <div class="horizontal-container">
        <img src="./public/correct/img_9855.jpg" alt="Cat with human hand showing thumbs up">
        <div class="equation">
            <p id="top-num">@problem.topNum</p>
            <p id="operation">@operation</p>
            <p id="bottom-num">@problem.bottomNum</p>
            <p id="line"></p>
            <p id="result">@problem.numpadInput</p>
        </div>
    </div>
</div>

@code {
    private string operation = ""; 
    private void GenerateProblem() {
        operation = config.selectedOperations[random.Next(config.selectedOperations.Count)];
    }

    protected override void OnInitialized()
    {
        GenerateProblem();
        // Subscribe to the event
        problem.CurrentProblemStateChanged += StateHasChanged;
    }
    public void Dispose()
    {
        problem.CurrentProblemStateChanged -= StateHasChanged;
    }
}