img {
    border-radius: 0.5rem;
    width: 15rem;
    height: 15rem;
    align-self: center;
}
button {
    display: block;
    width: 15rem;
    font-size: 2rem;
    font-weight: bold;
    align-self: flex-start;
    justify-self: start;
    padding: 0.5rem;
    margin-block-end: 0.5rem;
}

#operation {
    position: absolute;
    z-index: 0;
    color: rgb(226, 43, 217);
    font-size: 3rem;
    font-weight: bold;
}
#top-num {
    transform: translateY(0.5rem);
}

#bottom-num {
    transform: translateY(-1rem);
}
#line {
    border-radius: 0.5rem;
    background: rgb(226, 43, 217);
    height: 0.25rem;
    transform: translateY(-1.25rem);
}
#result {
    transform: translateY(-1.5rem);
}
.equation {
    width: 13rem;
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: end;   
}
.equation p {
    font-size: 5rem;
}
.problems-and-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
}
.horizontal-container {
    display: flex;
    gap: 1rem;
}
.stat-bar {
    width: 100%;
    justify-content: space-evenly;
}

.stat-bar * {
    font-size: 2.5rem;
}
